language: julia
sudo: false
os:
  - linux

julia:
 - 1.3

notifications:
  email: false

script:
  echo "Skipping"

jobs:
  include:
    - stage: "Documentation"
      julia: 1.3
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate(); Pkg.build()'
        - julia --project=docs/ docs/make.jl
      name: "HTML"
      after_success: skip

